<<<<<<< HEAD
/*



@media all(max-width:992px) {
        .portfolio-wrapper a {
            width: 50%;
        }
    }

@media all(max-width:768px) {
        .portfolio-wrapper a {
            width: 100%;
        }
    }

@media all(max-width:480px) {
        .portfolio-wrapper a {
            width: 100%;
        }  
    }
    
*/
=======
/*



@media all(max-width:992px) {
        .portfolio-wrapper a {
            width: 50%;
        }
    }

@media all(max-width:768px) {
        .portfolio-wrapper a {
            width: 100%;
        }
    }

@media all(max-width:480px) {
        .portfolio-wrapper a {
            width: 100%;
        }  
    }
    
*/
>>>>>>> 2f037c1b46bf0ba602ef39930aee25ed21d31ce6
